@import 'node_modules/modern-normalize/modern-normalize.css';
@tailwind base;

@layer base {
  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply font-sans !text-inherit;
  }
}

@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @apply pt-[70px] font-sans text-middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-gradient {
  background: linear-gradient(
    89.81deg,
    #4082ce 0.92%,
    #7ed4ff 22.59%,
    #6faeff 46.38%,
    #dd5789 74.4%,
    #feb5ee 98.19%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section {
  @apply pb-[100px];
}

.sectionTitle {
  @apply mb-[60px] text-big font-light uppercase;
}

.grad-1 {
  background-image: linear-gradient(45deg, #4082ce 0%, #7ed4ff 100%);
}

.grad-2 {
  background-image: linear-gradient(45deg, #6faeff 0%, #dd5789 100%);
}

.grad-3 {
  background-image: linear-gradient(45deg, #dd5789 0%, #fc95e5 100%);
}

/* MUI TABS*/
.MuiTabs-flexContainer {
  @apply !w-[376px];
}

.mainTabsRoot {
  @apply mr-[139px] !shrink-0;
}

.Mui-focusVisible .MuiTouchRipple-root {
  @apply border-2 border-black;
}

.MuiBox-root {
  @apply h-[330px] overflow-y-auto;
}

.MuiButtonBase-root.MuiTab-root {
  @apply mb-1 h-[56px] w-[376px] max-w-[376px] items-start !rounded py-[18px] px-[16px] !font-sans !text-middle capitalize last:mb-0;
}

.MuiButtonBase-root.Mui-selected {
  @apply h-[56px] !rounded bg-black !text-white;
}

.MuiTabs-indicator {
  @apply !w-0;
}

/* MUI MODAL*/
.MuiDialog-container {
  @apply mx-auto w-[994px];
}

.MuiPaper-root.MuiDialog-paper {
  @apply h-[100%] max-h-[700px] w-[100%] max-w-[100%] px-9 pt-10;
}

.MuiDialogContent-root {
  @apply border-none;
}

/* Markdown */
.markdown-wrapper p:last-child {
  margin-bottom: 0;
}

/* Projects */
.livePageItem {
  @apply grad-1 flex h-[54px] w-[145px] items-center justify-center rounded border-transparent;
}

.gitAndYouTubeItem {
  @apply ml-[30px] flex h-[39px] w-[39px] items-center justify-center rounded;
}

.livePageLink {
  @apply flex h-[calc(100%-4px)] w-[calc(100%-4px)] items-center justify-center rounded bg-white;
}

.gitAndYouTubeLink {
  @apply flex h-[39px] w-[39px] items-center justify-center;
}

/* Project Card */

.projectCard {
  @apply hover:cursor-pointer;
}

.projectCard .previewImg {
  @apply scale-100 transition-all delay-200 duration-700 ease-linear;
}

.projectCard:hover .previewImg,
.cardButton:focus .previewImg {
  @apply scale-110 transition-all delay-200 duration-700 ease-linear;
}

.projectCard .overlay {
  @apply absolute top-0 left-0 flex h-full w-full items-center justify-center bg-black opacity-50 transition-all delay-200 duration-700 ease-linear;
}

.projectCard:hover .overlay,
.cardButton:focus .overlay {
  @apply opacity-70 transition-all delay-200 duration-700 ease-linear;
}

.projectCard .projectLogo {
  @apply scale-100 transition-all delay-200 duration-700 ease-linear;
}

.projectCard:hover .projectLogo,
.cardButton:focus .projectLogo {
  @apply scale-90 transition-all delay-200 duration-700 ease-linear;
}

.projectCard .tag {
  @apply translate-x-0 transition-all delay-200 duration-700 ease-linear;
}

.projectCard:hover .tag,
.cardButton:focus .tag {
  @apply translate-x-5 transition-all delay-200 duration-700 ease-linear;
}
