@import 'node_modules/modern-normalize/modern-normalize.css';
@tailwind base;

@layer base {
  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply font-sans font-extralight !text-inherit;
  }
}

@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @apply pt-[70px] font-sans text-middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  @apply pb-10 pt-[24px] md:pb-[64px] xl:pt-[36px] xl:pb-[100px];
}

.sectionTitle {
  @apply relative mb-6 font-playfair text-[20px] font-semibold leading-[30px] after:absolute after:left-0 after:top-[-24px] after:h-[2px] after:w-8 after:bg-navyBlue after:content-[''] md:mb-10 md:text-big md:after:top-[-24px] md:after:w-8 xl:mb-[64px] xl:text-[32px] xl:leading-[45px] xl:after:top-[-36px] xl:after:w-[67px];
}

.typicalBtn {
  @apply flex h-[100%] w-[100%] items-center justify-center rounded bg-white transition-colors duration-300 hover:bg-navyBlue  hover:text-white focus:bg-navyBlue focus:text-white;
}

.typicalBtn > svg {
  fill: currentColor;
}

/* MUI TABS*/
.MuiTabs-flexContainer {
  @apply md:w-[244px] xl:w-[376px];
}

.mainTabsRoot {
  @apply !shrink-0 max-md:mb-8 md:mr-8 xl:mr-[139px];
}

.MuiTabs-indicator {
  @apply !w-0;
}

.MuiTabs-root .MuiTabs-scrollButtons {
  @apply max-md:!flex md:!hidden;
}

.Mui-focusVisible .MuiTouchRipple-root {
  @apply border-2 border-black;
}

.MuiBox-root {
  @apply md:!h-[358px] xl:!h-[375px];
}

.MuiButtonBase-root.MuiTab-root {
  @apply h-[56px] min-w-[125px] max-w-[376px] items-start !rounded !border-2 border-navyBlue py-[18px] px-[16px] !font-sans font-normal capitalize last:mb-0 max-md:flex max-md:items-center md:mb-1 md:w-[244px] md:text-small xl:w-[376px] xl:text-middle;
}

.MuiButtonBase-root.Mui-selected {
  @apply h-[56px] !rounded bg-black !text-white;
}

/* MUI MODAL*/

.MuiDialog-container {
  @apply mx-auto md:w-[704px] xl:w-[994px];
}

.MuiPaper-root.MuiDialog-paper {
  @apply h-[100%] max-h-[600px] w-[100%] max-w-[100%] px-4 pt-4 pb-6;
}

.MuiDialogContent-root {
  @apply border-none md:py-6 xl:!py-9;
}

.MuiDialogTitle-root {
  @apply md:!py-2 xl:!py-4;
}

/* MUI MENU*/

.menu .MuiPaper-root.MuiDialog-paper {
  @apply !max-h-full bg-black p-0;
}

/* Markdown */

.markdown-wrapper p:last-child {
  margin-bottom: 0;
}

/* Projects */
.livePageItem {
  @apply flex h-[54px] w-[145px] items-center justify-center rounded border-2 border-navyBlue bg-white;
}

.gitAndYouTubeItem {
  @apply ml-[30px] flex h-[39px] w-[39px] items-center justify-center rounded;
}

.livePageLink {
  @apply typicalBtn flex h-[100%] w-[100%] items-center justify-center  bg-white text-black transition-colors duration-300 hover:text-white focus:text-white;
}

.livePageLink > svg,
.livePageLink > svg {
  fill: currentColor;
}

.gitAndYouTubeLink {
  @apply flex h-[39px] w-[39px] items-center justify-center text-black transition-colors duration-300 hover:text-navyBlue focus:text-navyBlue;
}

.gitAndYouTubeLink > svg,
.gitAndYouTubeLink > svg {
  fill: currentColor;
}

/* Project Card */

.projectCardOverlay {
  @apply transition-shadow duration-1000;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(26, 26, 26, 0.64);
  -moz-box-shadow: 0px 2px 5px 0px rgba(26, 26, 26, 0.64);
  box-shadow: 0px 2px 5px 0px rgba(26, 26, 26, 0.64);
}

.projectCard:hover .projectCardOverlay {
  @apply cursor-pointer transition-shadow duration-1000;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(26, 26, 26, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(26, 26, 26, 1);
  box-shadow: 0px 2px 5px 0px rgba(26, 26, 26, 1);
}

.projectCard .previewImg {
  @apply scale-100 transition-all delay-200 duration-700 ease-linear;
}

.projectCard:hover .previewImg,
.cardButton:focus .previewImg {
  @apply scale-110 transition-all delay-200 duration-700 ease-linear;
}

.projectCard .overlay {
  @apply absolute top-0 left-0 flex h-full w-full items-center justify-center bg-black opacity-50 transition-all delay-200 duration-700 ease-linear;
}

.projectCard:hover .overlay,
.cardButton:focus .overlay {
  @apply opacity-70 transition-all delay-200 duration-700 ease-linear;
}

.projectCard .projectLogo {
  @apply scale-100 transition-all delay-200 duration-700 ease-linear;
}

.projectCard:hover .projectLogo,
.cardButton:focus .projectLogo {
  @apply scale-90 transition-all delay-200 duration-700 ease-linear;
}

.projectCard .tag {
  @apply translate-x-0 transition-all delay-200 duration-700 ease-linear;
}

.projectCard:hover .tag,
.cardButton:focus .tag {
  @apply translate-x-5 transition-all delay-200 duration-700 ease-linear;
}

.projectCard .cardTitle {
  @apply text-black transition-all delay-200 duration-500 ease-linear;
}

.projectCard:hover .cardTitle,
.cardButton:focus .cardTitle {
  @apply text-navyBlue transition-all delay-200 duration-500 ease-linear;
}
