@import 'node_modules/modern-normalize/modern-normalize.css';
@tailwind base;

@layer base {
  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply font-sans !text-inherit;
  }
}

@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @apply font-sans text-middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-gradient {
  background: linear-gradient(
    89.81deg,
    #4082ce 0.92%,
    #7ed4ff 22.59%,
    #6faeff 46.38%,
    #dd5789 74.4%,
    #feb5ee 98.19%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section {
  @apply pb-[88px];
}

.sectionTitle {
  @apply mb-[60px] text-big uppercase;
}

.grad-1 {
  background-image: linear-gradient(45deg, #4082ce 0%, #7ed4ff 100%);
}

.grad-2 {
  background-image: linear-gradient(45deg, #6faeff 0%, #dd5789 100%);
}

.grad-3 {
  background-image: linear-gradient(45deg, #dd5789 0%, #fc95e5 100%);
}

/* MUI TABS*/
.mainTabsRoot {
  @apply w-[calc(276px+32px)];
}

.MuiTabs-flexContainer {
  @apply relative before:absolute before:h-full before:w-[1px] before:bg-black before:content-[''];
}

.Mui-focusVisible .MuiTouchRipple-root {
  @apply border-2 border-black;
}

.MuiBox-root {
  @apply h-[310px] overflow-y-auto;
}

.MuiButtonBase-root.MuiTab-root {
  @apply items-start !font-sans !text-middle capitalize;
}

.MuiButtonBase-root.Mui-selected {
  @apply bg-black !text-white;
}

.MuiTabs-indicator {
  @apply !w-0;
}

/* Markdown */
.markdown-wrapper p:last-child {
  margin-bottom: 0;
}

/* Projects */
.livePageItem {
  @apply grad-1 flex h-[54px] w-[145px] items-center justify-center rounded border-transparent;
}

.gitAndYouTubeItem {
  @apply ml-[30px] flex h-[39px] w-[39px] items-center justify-center rounded;
}

.livePageLink {
  @apply flex h-[calc(100%-4px)] w-[calc(100%-4px)] items-center justify-center rounded bg-white;
}

.gitAndYouTubeLink {
  @apply flex h-[39px] w-[39px] items-center justify-center;
}
